.mdxeditor-diff-source-wrapper {
    height: 100%;
}
.mdxeditor-rich-text-editor{
    height: 100%
}
.mdxeditor-root-contenteditable {
    height: calc(100% - 46px);
    /* top: 48px; */
}
.mdxeditor-root-contenteditable > div {
    height: 100%;
}
.mdxeditor-popup-container {
    height: unset !important;
}
.mdxeditor ol {
    margin-left: 1rem;
}
.mdxeditor li:not([role="checkbox"]) {
    list-style-type: auto;
}
.mdxeditor ul li {
    margin-left: 1rem;
}
.mdxeditor li[role="checkbox"]::before {
    top: 6px;
}
.mdxeditor li[role="checkbox"]::after {
    top: 9px;
}
.mdxeditor .custom-ce {
    color: hsl(var(--foreground)) !important;
}
.mdxeditor .custom-toolbar {
    background-color: hsl(var(--editor-header)) !important;
    background: hsl(var(--editor-header)) !important;
 }
.mdxeditor .custom-toolbar svg {
   color: hsl(var(--foreground)) !important;
}
.mdxeditor .custom-toolbar button[role="combobox"] {
    background-color: hsl(var(--popover)) !important;
    max-width: 6.5rem !important;
}
.prose {
    max-width: unset !important;
}
.prose :where(ul):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-inline-start: 0 !important;
}