.mdxeditor-diff-source-wrapper {
    height: 100%;
}
.mdxeditor-rich-text-editor{
    height: 100%
}
.mdxeditor-root-contenteditable {
    height: calc(100% - 41px);
}
.mdxeditor-root-contenteditable > div {
    height: 100%;
}
.mdxeditor-popup-container {
    height: unset !important;
}
.mdxeditor ol {
    margin-left: 1rem;
}
.mdxeditor li:not([role="checkbox"]) {
    list-style-type: auto;
}
.mdxeditor ul li {
    margin-left: 1rem;
}
.mdxeditor li[role="checkbox"]::before {
    top: 6px;
}
.mdxeditor .custom-ce {
    color: hsl(var(--foreground)) !important;
}
.mdxeditor .custom-toolbar {
    position: sticky;
    top: 3rem;
    background-color: hsl(var(--muted)) !important;
    background: hsl(var(--muted)) !important;
 }
.mdxeditor .custom-toolbar svg {
   color: hsl(var(--foreground)) !important;
}
.mdxeditor .custom-toolbar button[role="combobox"] {
    background-color: hsl(var(--popover)) !important;
    max-width: 6.5rem !important;
}